body {
	background-color: #ddd;
	background-image: url("bg.png");
	background-repeat: repeat-x;
}

body,p,div,span,table,dl,ul,li,td,th {
	font-family: Verdana, sans-serif;
}

#banner,#bannerLeft,#bannerRight,h1,h2,h3,h4,h5 {
	font-family: "Trebuchet MS", sans-serif;
}

#banner {
	padding-top: 25px;
	padding-left: 110px;
	height: 70px;
	background-color: transparent;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	border: none;
}

#banner, #banner a {
	color: #eee;
	font-size: 30px;
	font-weight: normal;
}

#breadcrumbs {
	background-color: transparent;
	border: none;
	color: white;
	margin-bottom: 30px;
}

#leftColumn {
	border: 1px solid #999;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("http://eobjects.org/resources/border-radius.htc");
	border-radius: 10px;
}

#navcolumn li {
	margin-top: 2px;
	margin-bottom: 4px;
}

h1,h2,h3,h4,h5 {
	color: black;
	border: none;
	background-color: transparent;
	padding-left: 0px;
	margin-left: 0px;
}

.section {
	border: none;
	background-color: transparent;
}

.section img {
	border: 1px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("http://eobjects.org/resources/border-radius.htc");
	border-radius: 10px;
	margin-left: 14px;
}

.section dl {
	border: 1px solid #999;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("http://eobjects.org/resources/border-radius.htc");
	border-radius: 10px;
	margin-left: 10px;
}

.section dl dt a {
	color: black;
	font-weight: bold;
}

.source {
	border: 1px solid #999;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url("http://eobjects.org/resources/border-radius.htc");
	border-radius: 10px;
	margin-left: 10px;
}

.source, .source pre {
	color: #39557c;
	font-family: Verdana, sans-serif;
	font-size: 13px;
}